In [1]:
import pandas as pd

In [2]:
# manually edited errors in Excel
# bring edited csv back in
bp_full_df = pd.read_csv('bp_full_df2.csv')
bp_full_df = bp_full_df.drop(columns={'Unnamed: 0'})
bp_full_df

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,"349,555.00",2019,Jojo Rabbit,Best Picture,Jojo Rabbit,2020,0
1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,"516,520.00",2019,Sound of Metal,Best Picture,Sound of Metal,2020,0
2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,"2,000,000.00",2019,Marriage Story,Best Picture,Marriage Story,2020,0
3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,"7,000,000.00",2019,The Irishman,Best Picture,The Irishman,2020,0
4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,"53,367,844.00",2019,Parasite,Best Picture,Parasite,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...
330,Mutiny on the Bounty,178 min,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...","13,680,000.00",1962,Mutiny on the Bounty,Best Picture,Mutiny on the Bounty,1963,0
331,The Music Man,151 min,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,"14,953,846.00",1962,Meredith Willson's The Music Man,Best Picture,Meredith Willson's The Music Man,1963,0
332,The Longest Day,178 min,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...","39,100,000.00",1962,The Longest Day,Best Picture,The Longest Day,1963,0
333,Lawrence of Arabia,218 min,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...","44,824,144.00",1962,Lawrence of Arabia,Best Picture,Lawrence of Arabia,1963,1
334,To Kill a Mockingbird,129 min,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...","592,237.00",1962,To Kill a Mockingbird,Best Picture,To Kill a Mockingbird,1963,0

In [3]:
# split genre column into multiples
genres = bp_full_df['genre'].str.split(pat =',', expand=True)
genres

             0           1          2
0       Comedy       Drama        War
1        Drama       Music       None
2        Drama     Romance       None
3    Biography       Crime      Drama
4       Comedy       Drama   Thriller
..         ...         ...        ...
330  Adventure       Drama    History
331     Comedy      Family    Musical
332     Action       Drama    History
333  Adventure   Biography      Drama
334      Crime       Drama       None

[335 rows x 3 columns]

In [4]:
genres = genres.rename(columns={0:'genre_1', 1:'genre_2', 2:'genre_3'})
genres

       genre_1     genre_2    genre_3
0       Comedy       Drama        War
1        Drama       Music       None
2        Drama     Romance       None
3    Biography       Crime      Drama
4       Comedy       Drama   Thriller
..         ...         ...        ...
330  Adventure       Drama    History
331     Comedy      Family    Musical
332     Action       Drama    History
333  Adventure   Biography      Drama
334      Crime       Drama       None

[335 rows x 3 columns]

In [5]:
#add genre df to bp_full_df based on index
bp_full_df = pd.concat([bp_full_df, genres], axis=1)
bp_full_df

,title,runtime,rating,genre,summary,gross,release_year,matches,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,"349,555.00",2019,Jojo Rabbit,Best Picture,Jojo Rabbit,2020,0,Comedy,Drama,War
1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,"516,520.00",2019,Sound of Metal,Best Picture,Sound of Metal,2020,0,Drama,Music,None
2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,"2,000,000.00",2019,Marriage Story,Best Picture,Marriage Story,2020,0,Drama,Romance,None
3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,"7,000,000.00",2019,The Irishman,Best Picture,The Irishman,2020,0,Biography,Crime,Drama
4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,"53,367,844.00",2019,Parasite,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Mutiny on the Bounty,178 min,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...","13,680,000.00",1962,Mutiny on the Bounty,Best Picture,Mutiny on the Bounty,1963,0,Adventure,Drama,History
331,The Music Man,151 min,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,"14,953,846.00",1962,Meredith Willson's The Music Man,Best Picture,Meredith Willson's The Music Man,1963,0,Comedy,Family,Musical
332,The Longest Day,178 min,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...","39,100,000.00",1962,The Longest Day,Best Picture,The Longest Day,1963,0,Action,Drama,History
333,Lawrence of Arabia,218 min,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...","44,824,144.00",1962,Lawrence of Arabia,Best Picture,Lawrence of Arabia,1963,1,Adventure,Biography,Drama
334,To Kill a Mockingbird,129 min,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...","592,237.00",1962,To Kill a Mockingbird,Best Picture,To Kill a Mockingbird,1963,0,Crime,Drama,None

In [6]:
#drop unneccessary columns
bp_full_df = bp_full_df.drop(columns={'matches'})

In [7]:
bp_full_df.head()

,title,runtime,rating,genre,summary,gross,release_year,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,"349,555.00",2019,Best Picture,Jojo Rabbit,2020,0,Comedy,Drama,War
1,Sound of Metal,120 min,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,"516,520.00",2019,Best Picture,Sound of Metal,2020,0,Drama,Music,None
2,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,"2,000,000.00",2019,Best Picture,Marriage Story,2020,0,Drama,Romance,None
3,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,"7,000,000.00",2019,Best Picture,The Irishman,2020,0,Biography,Crime,Drama
4,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,"53,367,844.00",2019,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller

In [8]:
#clean runtime, int only
bp_full_df['runtime_min'] = bp_full_df['runtime'].str.extract('(.*)\s')
bp_full_df = bp_full_df.drop(columns={'runtime'})
bp_full_df['runtime_min'] = pd.to_numeric(bp_full_df['runtime_min'])
#verify
bp_full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         335 non-null    object
 1   rating        335 non-null    object
 2   genre         335 non-null    object
 3   summary       335 non-null    object
 4   gross         326 non-null    object
 5   release_year  335 non-null    int64
 6   category      335 non-null    object
 7   nominee       335 non-null    object
 8   oscar_year    335 non-null    int64
 9   winner        335 non-null    int64
 10  genre_1       335 non-null    object
 11  genre_2       299 non-null    object
 12  genre_3       202 non-null    object
 13  runtime_min   335 non-null    int64
dtypes: int64(4), object(10)
memory usage: 36.8+ KB

In [9]:
bp_full_df['gross'] = bp_full_df['gross'].str.replace(',', '')
bp_full_df['gross'] = bp_full_df['gross'].str.replace('\.00', '')
bp_full_df

C:\Users\zoete\AppData\Local\Temp\ipykernel_19000\2626593479.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  bp_full_df['gross'] = bp_full_df['gross'].str.replace('\.00', '')

,title,rating,genre,summary,gross,release_year,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3,runtime_min
0,Jojo Rabbit,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Best Picture,Jojo Rabbit,2020,0,Comedy,Drama,War,108
1,Sound of Metal,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,516520,2019,Best Picture,Sound of Metal,2020,0,Drama,Music,None,120
2,Marriage Story,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Best Picture,Marriage Story,2020,0,Drama,Romance,None,137
3,The Irishman,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,Best Picture,The Irishman,2020,0,Biography,Crime,Drama,209
4,Parasite,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller,132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Mutiny on the Bounty,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...",13680000,1962,Best Picture,Mutiny on the Bounty,1963,0,Adventure,Drama,History,178
331,The Music Man,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,14953846,1962,Best Picture,Meredith Willson's The Music Man,1963,0,Comedy,Family,Musical,151
332,The Longest Day,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...",39100000,1962,Best Picture,The Longest Day,1963,0,Action,Drama,History,178
333,Lawrence of Arabia,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...",44824144,1962,Best Picture,Lawrence of Arabia,1963,1,Adventure,Biography,Drama,218
334,To Kill a Mockingbird,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...",592237,1962,Best Picture,To Kill a Mockingbird,1963,0,Crime,Drama,None,129

In [53]:
bp_full_df['gross'] = bp_full_df['gross'].astype('Int32')
bp_full_df.head()

,title,rating,genre,summary,gross,release_year,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3,runtime_min
0,Jojo Rabbit,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Best Picture,Jojo Rabbit,2020,0,Comedy,Drama,War,108
1,Sound of Metal,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,516520,2019,Best Picture,Sound of Metal,2020,0,Drama,Music,None,120
2,Marriage Story,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Best Picture,Marriage Story,2020,0,Drama,Romance,None,137
3,The Irishman,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,Best Picture,The Irishman,2020,0,Biography,Crime,Drama,209
4,Parasite,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller,132

In [16]:
#save new df as csv to import to SQL
bp_full_df.to_csv('bp_clean.csv', index=False)

In [17]:
#is none reading as a string or null?
bp_full_df['genre_3'].value_counts()
#no...phew

 Drama       37
 Romance     35
 History     32
 Thriller    26
 War         15
 Music        9
 Fantasy      8
 Musical      8
 Sci-Fi       7
 Mystery      6
 Sport        6
 Crime        5
 Family       5
 Comedy       2
 Western      1
Name: genre_3, dtype: int64

In [18]:
#What's the most frequent primary genre? Drama
bp_full_df['genre_1'].value_counts()

Drama        114
Biography     75
Comedy        58
Action        29
Crime         29
Adventure     23
Animation      3
Horror         2
Sci-Fi         1
Western        1
Name: genre_1, dtype: int64

In [19]:
bp_full_df['genre_2'].value_counts()

 Drama        149
 Romance       36
 Adventure     17
 Crime         16
 Comedy        14
 Mystery        9
 Family         9
 Thriller       8
 Biography      7
 Music          7
 History        7
 Fantasy        6
 War            5
 Western        3
 Musical        2
 Sci-Fi         2
 Sport          2
Name: genre_2, dtype: int64

In [58]:
winners = bp_full_df.query('winner == 1')
winners.head()

,title,rating,genre,summary,gross,release_year,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3,runtime_min
4,Parasite,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Best Picture,Parasite,2020,1,Comedy,Drama,Thriller,132
14,Green Book,PG-13,"Biography, Comedy, Drama",A working-class Italian-American bouncer becom...,85080171,2018,Best Picture,Green Book,2019,1,Biography,Comedy,Drama,130
23,The Shape of Water,R,"Drama, Fantasy, Romance",At a top secret research facility in the 1960s...,63859435,2017,Best Picture,The Shape of Water,2018,1,Drama,Fantasy,Romance,123
28,Moonlight,R,Drama,A young African-American man grapples with his...,27854932,2016,Best Picture,Moonlight,2017,1,Drama,None,None,111
38,Spotlight,R,"Biography, Crime, Drama",The true story of how the Boston Globe uncover...,45055776,2015,Best Picture,Spotlight,2016,1,Biography,Crime,Drama,129

In [56]:
losers = bp_full_df.query('winner == 0')
losers.head()

,title,rating,genre,summary,gross,release_year,category,nominee,oscar_year,winner,genre_1,genre_2,genre_3,runtime_min
0,Jojo Rabbit,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Best Picture,Jojo Rabbit,2020,0,Comedy,Drama,War,108
1,Sound of Metal,R,"Drama, Music",A heavy-metal drummer's life is thrown into fr...,516520,2019,Best Picture,Sound of Metal,2020,0,Drama,Music,None,120
2,Marriage Story,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Best Picture,Marriage Story,2020,0,Drama,Romance,None,137
3,The Irishman,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,Best Picture,The Irishman,2020,0,Biography,Crime,Drama,209
5,Little Women,PG,"Drama, Romance","Jo March reflects back and forth on her life, ...",108101214,2019,Best Picture,Little Women,2020,0,Drama,Romance,None,135

In [71]:
#genre most won - R
perc_genre_won = pd.DataFrame(winners['rating'].value_counts()).reset_index().rename(columns={'rating':'count', 'index':'rating'})
perc_genre_won['total_won'] = winners['title'].count()
perc_genre_won['percent'] = perc_genre_won['count']/perc_genre_won['total_won']*100
perc_genre_won

      rating  count  total_won    percent
0          R     32         59  54.237288
1      PG-13     10         59  16.949153
2         PG      9         59  15.254237
3          G      4         59   6.779661
4   Approved      2         59   3.389831
5         GP      1         59   1.694915
6  Not Rated      1         59   1.694915

In [74]:
#genre most lost - R
perc_genre_lost = pd.DataFrame(losers['rating'].value_counts()).reset_index().rename(columns={'rating':'count', 'index':'rating'})
perc_genre_lost['total_lost'] = losers['title'].count()
perc_genre_lost['percent'] = perc_genre_lost['count']/perc_genre_lost['total_lost']*100
perc_genre_lost

      rating  count  total_lost    percent
0          R    127         276  46.014493
1      PG-13     64         276  23.188406
2         PG     57         276  20.652174
3          G     13         276   4.710145
4  Not Rated      5         276   1.811594
5   Approved      4         276   1.449275
6    Unrated      3         276   1.086957
7         GP      1         276   0.362319
8       M/PG      1         276   0.362319
9      TV-MA      1         276   0.362319

In [78]:
#Average runtime of winners is longer than avg runtime of losers
print('winner_avg_runtime:')
print(winners['runtime_min'].mean())
print('loser_avg_runtime:')
print(losers['runtime_min'].mean())

winner_avg_runtime:
140.74576271186442
loser_avg_runtime:
129.5072463768116

In [ ]:
#import