In [1]:
import pandas as pd

In [80]:
# bring edited csv back in to separate genres
bp_full_df = pd.read_csv('with_producers.csv')
bp_full_df

,title,runtime,rating,genre,summary,gross,release_year_x,category,oscar_year,winner,film,producer
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,"349,555.00",2019,Best Picture,2020,0,Jojo Rabbit,"Carthew Neal, Taika Waititi, and Chelsea Winst..."
1,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,"2,000,000.00",2019,Best Picture,2020,0,Marriage Story,Noah Baumbach and David Heyman
2,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,"7,000,000.00",2019,Best Picture,2020,0,The Irishman,"Martin Scorsese, Robert De Niro, Jane Rosentha..."
3,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,"53,367,844.00",2019,Best Picture,2020,1,Parasite,Kwak Sin-ae and Bong Joon-ho
4,Little Women,135 min,PG,"Drama, Romance","Jo March reflects back and forth on her life, ...","108,101,214.00",2019,Best Picture,2020,0,Little Women,Amy Pascal
...,...,...,...,...,...,...,...,...,...,...,...,...
329,Mutiny on the Bounty,178 min,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...","13,680,000.00",1962,Best Picture,1963,0,Mutiny on the Bounty,Aaron Rosenberg
330,The Music Man,151 min,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,"14,953,846.00",1962,Best Picture,1963,0,The Music Man,Morton Da Costa
331,The Longest Day,178 min,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...","39,100,000.00",1962,Best Picture,1963,0,The Longest Day,Darryl F. Zanuck
332,Lawrence of Arabia,218 min,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...","44,824,144.00",1962,Best Picture,1963,1,Lawrence of Arabia,Sam Spiegel
333,To Kill a Mockingbird,129 min,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...","592,237.00",1962,Best Picture,1963,0,To Kill a Mockingbird,Alan J. Pakula

In [81]:
# split genre column into multiples
genres = bp_full_df['genre'].str.split(pat =',', expand=True)
genres

             0           1          2
0       Comedy       Drama        War
1        Drama     Romance       None
2    Biography       Crime      Drama
3       Comedy       Drama   Thriller
4        Drama     Romance       None
..         ...         ...        ...
329  Adventure       Drama    History
330     Comedy      Family    Musical
331     Action       Drama    History
332  Adventure   Biography      Drama
333      Crime       Drama       None

[334 rows x 3 columns]

In [82]:
genres = genres.rename(columns={0:'genre_1', 1:'genre_2', 2:'genre_3'})
genres

       genre_1     genre_2    genre_3
0       Comedy       Drama        War
1        Drama     Romance       None
2    Biography       Crime      Drama
3       Comedy       Drama   Thriller
4        Drama     Romance       None
..         ...         ...        ...
329  Adventure       Drama    History
330     Comedy      Family    Musical
331     Action       Drama    History
332  Adventure   Biography      Drama
333      Crime       Drama       None

[334 rows x 3 columns]

In [83]:
#add genre df to bp_full_df based on index
bp_full_df = pd.concat([bp_full_df, genres], axis=1)
bp_full_df

,title,runtime,rating,genre,summary,gross,release_year_x,category,oscar_year,winner,film,producer,genre_1,genre_2,genre_3
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,"349,555.00",2019,Best Picture,2020,0,Jojo Rabbit,"Carthew Neal, Taika Waititi, and Chelsea Winst...",Comedy,Drama,War
1,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,"2,000,000.00",2019,Best Picture,2020,0,Marriage Story,Noah Baumbach and David Heyman,Drama,Romance,None
2,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,"7,000,000.00",2019,Best Picture,2020,0,The Irishman,"Martin Scorsese, Robert De Niro, Jane Rosentha...",Biography,Crime,Drama
3,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,"53,367,844.00",2019,Best Picture,2020,1,Parasite,Kwak Sin-ae and Bong Joon-ho,Comedy,Drama,Thriller
4,Little Women,135 min,PG,"Drama, Romance","Jo March reflects back and forth on her life, ...","108,101,214.00",2019,Best Picture,2020,0,Little Women,Amy Pascal,Drama,Romance,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,Mutiny on the Bounty,178 min,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...","13,680,000.00",1962,Best Picture,1963,0,Mutiny on the Bounty,Aaron Rosenberg,Adventure,Drama,History
330,The Music Man,151 min,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,"14,953,846.00",1962,Best Picture,1963,0,The Music Man,Morton Da Costa,Comedy,Family,Musical
331,The Longest Day,178 min,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...","39,100,000.00",1962,Best Picture,1963,0,The Longest Day,Darryl F. Zanuck,Action,Drama,History
332,Lawrence of Arabia,218 min,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...","44,824,144.00",1962,Best Picture,1963,1,Lawrence of Arabia,Sam Spiegel,Adventure,Biography,Drama
333,To Kill a Mockingbird,129 min,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...","592,237.00",1962,Best Picture,1963,0,To Kill a Mockingbird,Alan J. Pakula,Crime,Drama,None

In [85]:
bp_full_df = bp_full_df.rename(columns = {'release_year_x':'release_year'})
bp_full_df.head()

,title,runtime,rating,genre,summary,gross,release_year,category,oscar_year,winner,film,producer,genre_1,genre_2,genre_3
0,Jojo Rabbit,108 min,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,"349,555.00",2019,Best Picture,2020,0,Jojo Rabbit,"Carthew Neal, Taika Waititi, and Chelsea Winst...",Comedy,Drama,War
1,Marriage Story,137 min,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,"2,000,000.00",2019,Best Picture,2020,0,Marriage Story,Noah Baumbach and David Heyman,Drama,Romance,None
2,The Irishman,209 min,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,"7,000,000.00",2019,Best Picture,2020,0,The Irishman,"Martin Scorsese, Robert De Niro, Jane Rosentha...",Biography,Crime,Drama
3,Parasite,132 min,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,"53,367,844.00",2019,Best Picture,2020,1,Parasite,Kwak Sin-ae and Bong Joon-ho,Comedy,Drama,Thriller
4,Little Women,135 min,PG,"Drama, Romance","Jo March reflects back and forth on her life, ...","108,101,214.00",2019,Best Picture,2020,0,Little Women,Amy Pascal,Drama,Romance,None

In [86]:
#clean runtime, int only
bp_full_df['runtime_min'] = bp_full_df['runtime'].str.extract('(.*)\s')
bp_full_df = bp_full_df.drop(columns={'runtime'})
bp_full_df['runtime_min'] = pd.to_numeric(bp_full_df['runtime_min'])
#verify
bp_full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         334 non-null    object
 1   rating        334 non-null    object
 2   genre         334 non-null    object
 3   summary       334 non-null    object
 4   gross         325 non-null    object
 5   release_year  334 non-null    int64
 6   category      334 non-null    object
 7   oscar_year    334 non-null    int64
 8   winner        334 non-null    int64
 9   film          334 non-null    object
 10  producer      334 non-null    object
 11  genre_1       334 non-null    object
 12  genre_2       298 non-null    object
 13  genre_3       202 non-null    object
 14  runtime_min   334 non-null    int64
dtypes: int64(4), object(11)
memory usage: 39.3+ KB

In [87]:
bp_full_df['gross'] = bp_full_df['gross'].str.replace(',', '')
bp_full_df['gross'] = bp_full_df['gross'].str.replace('\.00', '')
bp_full_df

C:\Users\zoete\AppData\Local\Temp\ipykernel_19000\2626593479.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  bp_full_df['gross'] = bp_full_df['gross'].str.replace('\.00', '')

,title,rating,genre,summary,gross,release_year,category,oscar_year,winner,film,producer,genre_1,genre_2,genre_3,runtime_min
0,Jojo Rabbit,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Best Picture,2020,0,Jojo Rabbit,"Carthew Neal, Taika Waititi, and Chelsea Winst...",Comedy,Drama,War,108
1,Marriage Story,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Best Picture,2020,0,Marriage Story,Noah Baumbach and David Heyman,Drama,Romance,None,137
2,The Irishman,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,Best Picture,2020,0,The Irishman,"Martin Scorsese, Robert De Niro, Jane Rosentha...",Biography,Crime,Drama,209
3,Parasite,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Best Picture,2020,1,Parasite,Kwak Sin-ae and Bong Joon-ho,Comedy,Drama,Thriller,132
4,Little Women,PG,"Drama, Romance","Jo March reflects back and forth on her life, ...",108101214,2019,Best Picture,2020,0,Little Women,Amy Pascal,Drama,Romance,None,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,Mutiny on the Bounty,Not Rated,"Adventure, Drama, History","In 1787, British ship Bounty leaves Portsmouth...",13680000,1962,Best Picture,1963,0,Mutiny on the Bounty,Aaron Rosenberg,Adventure,Drama,History,178
330,The Music Man,G,"Comedy, Family, Musical",Traveling con artist Harold Hill targets the n...,14953846,1962,Best Picture,1963,0,The Music Man,Morton Da Costa,Comedy,Family,Musical,151
331,The Longest Day,G,"Action, Drama, History","The events of D-Day, told on a grand scale fro...",39100000,1962,Best Picture,1963,0,The Longest Day,Darryl F. Zanuck,Action,Drama,History,178
332,Lawrence of Arabia,Approved,"Adventure, Biography, Drama","The story of T.E. Lawrence, the English office...",44824144,1962,Best Picture,1963,1,Lawrence of Arabia,Sam Spiegel,Adventure,Biography,Drama,218
333,To Kill a Mockingbird,Approved,"Crime, Drama","Atticus Finch, a widowed lawyer in Depression-...",592237,1962,Best Picture,1963,0,To Kill a Mockingbird,Alan J. Pakula,Crime,Drama,None,129

In [88]:
bp_full_df['gross'] = bp_full_df['gross'].astype('Int32')
bp_full_df.head()

,title,rating,genre,summary,gross,release_year,category,oscar_year,winner,film,producer,genre_1,genre_2,genre_3,runtime_min
0,Jojo Rabbit,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Best Picture,2020,0,Jojo Rabbit,"Carthew Neal, Taika Waititi, and Chelsea Winst...",Comedy,Drama,War,108
1,Marriage Story,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Best Picture,2020,0,Marriage Story,Noah Baumbach and David Heyman,Drama,Romance,None,137
2,The Irishman,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,Best Picture,2020,0,The Irishman,"Martin Scorsese, Robert De Niro, Jane Rosentha...",Biography,Crime,Drama,209
3,Parasite,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Best Picture,2020,1,Parasite,Kwak Sin-ae and Bong Joon-ho,Comedy,Drama,Thriller,132
4,Little Women,PG,"Drama, Romance","Jo March reflects back and forth on her life, ...",108101214,2019,Best Picture,2020,0,Little Women,Amy Pascal,Drama,Romance,None,135

In [89]:
#save new df as csv to import to SQL
bp_full_df.to_csv('bp_clean.csv', index=False)

In [91]:
#What's the most frequent primary genre? Drama
bp_full_df['genre_1'].value_counts()

Drama        113
Biography     75
Comedy        58
Action        29
Crime         29
Adventure     23
Animation      3
Horror         2
Sci-Fi         1
Western        1
Name: genre_1, dtype: int64

In [92]:
bp_full_df['genre_2'].value_counts()

 Drama        149
 Romance       36
 Adventure     17
 Crime         16
 Comedy        14
 Mystery        9
 Family         9
 Thriller       8
 Biography      7
 History        7
 Music          6
 Fantasy        6
 War            5
 Western        3
 Musical        2
 Sci-Fi         2
 Sport          2
Name: genre_2, dtype: int64

In [90]:
bp_full_df['genre_3'].value_counts()

 Drama       37
 Romance     35
 History     32
 Thriller    26
 War         15
 Music        9
 Fantasy      8
 Musical      8
 Sci-Fi       7
 Mystery      6
 Sport        6
 Crime        5
 Family       5
 Comedy       2
 Western      1
Name: genre_3, dtype: int64

In [93]:
winners = bp_full_df.query('winner == 1')
winners.head()

,title,rating,genre,summary,gross,release_year,category,oscar_year,winner,film,producer,genre_1,genre_2,genre_3,runtime_min
3,Parasite,R,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,53367844,2019,Best Picture,2020,1,Parasite,Kwak Sin-ae and Bong Joon-ho,Comedy,Drama,Thriller,132
13,Green Book,PG-13,"Biography, Comedy, Drama",A working-class Italian-American bouncer becom...,85080171,2018,Best Picture,2019,1,Green Book,"Jim Burke, Charles B. Wessler, Brian Currie, P...",Biography,Comedy,Drama,130
22,The Shape of Water,R,"Drama, Fantasy, Romance",At a top secret research facility in the 1960s...,63859435,2017,Best Picture,2018,1,The Shape of Water,Guillermo del Toro and J. Miles Dale,Drama,Fantasy,Romance,123
27,Moonlight,R,Drama,A young African-American man grapples with his...,27854932,2016,Best Picture,2017,1,Moonlight,"Adele Romanski, Dede Gardner, and Jeremy Kleiner",Drama,None,None,111
37,Spotlight,R,"Biography, Crime, Drama",The true story of how the Boston Globe uncover...,45055776,2015,Best Picture,2016,1,Spotlight,"Blye Pagon Faust, Steve Golin, Nicole Rocklin,...",Biography,Crime,Drama,129

In [94]:
losers = bp_full_df.query('winner == 0')
losers.head()

,title,rating,genre,summary,gross,release_year,category,oscar_year,winner,film,producer,genre_1,genre_2,genre_3,runtime_min
0,Jojo Rabbit,PG-13,"Comedy, Drama, War",A young German boy in the Hitler Youth whose h...,349555,2019,Best Picture,2020,0,Jojo Rabbit,"Carthew Neal, Taika Waititi, and Chelsea Winst...",Comedy,Drama,War,108
1,Marriage Story,R,"Drama, Romance",Noah Baumbach's incisive and compassionate loo...,2000000,2019,Best Picture,2020,0,Marriage Story,Noah Baumbach and David Heyman,Drama,Romance,None,137
2,The Irishman,R,"Biography, Crime, Drama",Hitman Frank Sheeran looks back at the secrets...,7000000,2019,Best Picture,2020,0,The Irishman,"Martin Scorsese, Robert De Niro, Jane Rosentha...",Biography,Crime,Drama,209
4,Little Women,PG,"Drama, Romance","Jo March reflects back and forth on her life, ...",108101214,2019,Best Picture,2020,0,Little Women,Amy Pascal,Drama,Romance,None,135
5,Ford v Ferrari,PG-13,"Action, Biography, Drama",American car designer Carroll Shelby and drive...,117624028,2019,Best Picture,2020,0,Ford v Ferrari,"Peter Chernin, Jenno Topping, and James Mangold",Action,Biography,Drama,152

In [95]:
#genre most won - R
perc_genre_won = pd.DataFrame(winners['rating'].value_counts()).reset_index().rename(columns={'rating':'count', 'index':'rating'})
perc_genre_won['total_won'] = winners['title'].count()
perc_genre_won['percent'] = perc_genre_won['count']/perc_genre_won['total_won']*100
perc_genre_won

      rating  count  total_won    percent
0          R     32         59  54.237288
1      PG-13     10         59  16.949153
2         PG      9         59  15.254237
3          G      4         59   6.779661
4   Approved      2         59   3.389831
5         GP      1         59   1.694915
6  Not Rated      1         59   1.694915

In [96]:
#genre most lost - R
perc_genre_lost = pd.DataFrame(losers['rating'].value_counts()).reset_index().rename(columns={'rating':'count', 'index':'rating'})
perc_genre_lost['total_lost'] = losers['title'].count()
perc_genre_lost['percent'] = perc_genre_lost['count']/perc_genre_lost['total_lost']*100
perc_genre_lost

      rating  count  total_lost    percent
0          R    126         275  45.818182
1      PG-13     64         275  23.272727
2         PG     57         275  20.727273
3          G     13         275   4.727273
4  Not Rated      5         275   1.818182
5   Approved      4         275   1.454545
6    Unrated      3         275   1.090909
7         GP      1         275   0.363636
8       M/PG      1         275   0.363636
9      TV-MA      1         275   0.363636

In [97]:
#Average runtime of winners is longer than avg runtime of losers
print('winner_avg_runtime:')
print(winners['runtime_min'].mean())
print('loser_avg_runtime:')
print(losers['runtime_min'].mean())

winner_avg_runtime:
140.74576271186442
loser_avg_runtime:
129.54181818181817